<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Arda.Karacorlu</title>

    <!-- Favicons -->
    <link href="~/Blog/img/favicon.png" rel="icon">


    <!-- Bootstrap CSS File -->
    <link href="~/Blog/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Icons Css -->
    <link href="~/css/icons.min.css" rel="stylesheet" />
    <link href="~/Blog/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Librarie  s CSS Files -->
    <link href="~/Blog/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Blog/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Blog/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/Blog/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Blog/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- M  ain Stylesheet File -->
    <link href="~/Blog/css/style.css" rel="stylesheet">

</head>
<body>
    <partial name="HorizontalHeaderPartial" />
    <!-- start page title -->
    @RenderBody()
    <!-- end page title -->
    <!-- End Page-content -->
    <!--/ Section Contact-Footer Star /-->
    <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(/Blog/img/overlay-bg.jpg)">
        <div class="overlay-mf"></div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="copyright-box">
                            <p class="copyright">&copy; Copyright <strong>DevFolio</strong>. All Rights Reserved</p>
                            <div class="credits">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    <!--/ Section Contact-footer End /-->
    <!-- JavaScript Libraries -->
    <script src="~/Blog/lib/jquery/jquery.min.js"></script>
    <script src="~/Blog/lib/popper/popper.min.js"></script>
    <script src="~/Blog/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Blog/lib/easing/easing.min.js"></script>
    <script src="~/Blog/lib/counterup/jquery.waypoints.min.js"></script>
    <script src="~/Blog/lib/counterup/jquery.counterup.js"></script>
    <script src="~/Blog/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Blog/lib/lightbox/js/lightbox.min.js"></script>
    <script src="~/Blog/lib/typed/typed.min.js"></script>
    <!-- Contact Form JavaSc  ript File -->
    <script src="~/Blog/contactform/contactform.js"></script>

    <!-- Template Main Javascript File   -->
    <script src="~/Blog/js/main.js"></script>
</body>
</html>